// Header Area
.header-area {
    background-color: $secondary-color;
    padding-top: 15px;

    .logo-area {
        a {
            font-size: 48px;
            color: $white-color;
        }
    }

    .header-action {
        display: flex;
    }

    .action-icons {
        a {
            color: $white-color;

            i {
                font-size: 16px;
                margin-left: 10px;
            }
        }

        margin-right: 20px;
        color: $white-color;
    }
}